@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.RequestListResponse>
@{
    ViewBag.Title = "Request Assets";
    // pengaju pinjaman
    Layout = "_Layout";
}
<h2>Request Assets</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button" id="btn-add">Add New Request</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>PIC Name</th>
            <th>PIC Address</th>
            <th>Specification</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.PicName</td>
                <td>@item.PicAddress</td>
                <td>@item.Specification</td>
                <td>@item.RequestDate</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="add-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Request/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#add-modal").find(".modal-body").html(data);
                    $("#add-modal").modal("show");
                }
            });

        });
    </script>
}