@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.AssetListResponse>
@{
    ViewBag.Title = "Asset";
    // admin
    Layout = "_Layout";
}
<h2>Assets</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button" id="btn-add">Create New Asset</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>No.</th>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Serial Number</th>
            <th>Specification</th>
            <th>Purchase Year</th>
            <th>Used</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Number</td>
                <td>@item.AssetId</td>
                <td>@item.AssetName</td>
                <td>@item.SerialNumber</td>
                <td>@item.Specification</td>
                <td>@item.PurchaseYear</td>
                <td>@item.Used</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="add-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
       
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Asset/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#add-modal").find(".modal-body").html(data);
                    $("#add-modal").modal("show");
                }
            });

        });
    </script>
}


