@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.AssetHistoryResponse>
@{
    ViewBag.Title = "Asset History";
    // Admin History
    Layout = "_Layout";
}
<h2>Asset History</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Asset Name</th>
            <th>specification</th>
            <th>Serial Number</th>
            <th>PurchaseYear</th>
            <th>Location</th>
            <th>Pic Name</th>
            <th>Send Date</th>
            <th>Return Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AssetName</td>
                <td>@item.Specification</td>
                <td>@item.SerialNumber</td>
                <td>@item.PurchaseYear</td>
                <td>@item.Location</td>
                <td>@item.PicName</td>
                <td>@item.SendDate</td>
                <td>@item.ReturnDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="add-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/AssetHistory/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#add-modal").find(".modal-body").html(data);
                    $("#add-modal").modal("show");
                }
            });

        });
    </script>
}