@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.RequestListResponse>
@{
    ViewBag.Title = "Request Asset";
    // Admin
    Layout = "_Layout";
}
<h2>Request Asset</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>PIC Name</th>
            <th>PIC Address</th>
            <th>Specification</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.PicName</td>
                <td>@item.PicAddress</td>
                <td>@item.Specification</td>
                <td>@item.RequestDate</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="ChooseAsset" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Choose Asset</a>
                </td>
            </tr>
        }
    </tbody>
</table>
